PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=root
DB_PASSWORD=root

JWT_ACCESS_SECRET=your_access_secret_change_this
JWT_REFRESH_SECRET=your_refresh_secret_change_this
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_DOMAIN=
COOKIE_SECURE=false

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=onayteslim@gmail.com
SMTP_PASS=ehjxrpfkoncgvxtr
EMAIL_FROM=onayteslim@gmail.com